.main-wrapper {
  padding: 0 20px;
}

.form-products {
  margin: auto;
  width: fit-content;
  max-height: 900px;
  padding: 35px 40px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #fff;
  overflow-y: auto;
}

.form-information {
  display: flex;
  gap: 40px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-content .form-group {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: sans-serif;
  font-size: 16px;
}

.form-content .form-group-two {
  width: 500px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-family: sans-serif;
  font-size: 16px;
}

.form-content .form-group::placeholder {
  font-family: sans-serif;
}

.products-input {
  font-family: sans-serif;
  height: 50px;
  outline: none;
  border: none;
  padding: 0 20px;
  border-radius: 8px;
}

.form-status,
.form-category {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-content .form-group-two select {
  font-family: sans-serif;
  height: 50px;
  width: 100%;
  font-size: 16px;
  outline: none;
  color: #757575;
  padding: 10px;
  border: none;
  box-shadow: 0 0 0 0.07mm;
  outline: none;
  border-radius: 3px;
}

.form-content .form-group textarea {
  font-family: sans-serif;
  height: 100px;
  width: 100%;
  font-size: 16px;
  outline: none;
  color: #757575;
  padding: 10px;
  border: none;
  box-shadow: 0 0 0 0.07mm;
  outline: none;
  border-radius: 3px;
}

.checkbox-related .products-related {
  width: 20px;
}

.group-details .list-details {
  margin-bottom: 10px;
}

.list-details-cover {
  display: flex;
  flex-direction: row;
  box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
  margin-bottom: 2px;
}

.list-details-cover .details-key {
  background-color: #eee;
}

.list-details-cover .details-key,
.list-details-cover .details-description {
  padding: 5px;
  width: 225px;
  width: 50%;
  border-radius: 0;
}

.products-details {
  display: flex;
  flex-direction: row;
  box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

.products-details .details-key {
  border: none;
  width: 50%;
  padding: 5px;
  background-color: #eee;
  outline: none;
  border-radius: 0;
}

.products-details .details-value {
  width: 50%;
  border-radius: 0;
  border: none;
  outline: none;
  padding: 5px;
  background-color: #fff;
}

.form-img .form-group {
  display: flex;
  flex-direction: column;
}

.form-img .form-group .images {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
}

.form-cta {
  display: flex;
  gap: 15px;
}

.form-cta .btn {
  font-weight: bold;
  padding: 12px 30px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #28a745;
}

.form-cta .btn-create {
  background-color: #46d267;
  border-color: #46d267;
  color: white;
  width: 60%;
}

.form-cta .btn-create:hover {
  background-color: #76d88d;
}

.form-details-variant {
  border: 1px solid rgb(226, 225, 225);
  border-radius: 8px;
  padding: 0 10px;
}

.section-list {
  margin-bottom: 50px;
}

.section-list .dashboard-content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.filter-product {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.filter-product .heading {
  box-shadow: unset;
}

.filter-product-search {
  box-shadow: 0 0 0 0.05mm;
  padding: 0 8px;
  border-radius: 3px;
}

.filter-product-search select {
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 8px;
}

.filter-product-search select .option-filter {
  margin-top: 10px;
  cursor: pointer;
}

.filter-product input {
  width: 90%;
  outline: none;
  border: none;
  margin-bottom: 8px;
}

.filter-product svg {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-top: 10px;
}

.icon-plus-cover {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.details-box-two {
  display: flex;
  gap: 20px;
}

.details-box-two .form-group input {
  font-family: sans-serif;
  height: 50px;
  width: 100%;
  font-size: 16px;
  outline: none;
  color: #757575;
  padding: 10px;
  border: none;
  box-shadow: 0 0 0 0.07mm;
  outline: none;
  border-radius: 3px;
}

.details-box input {
  margin-top: 10px;
  width: 50%;
  outline: none;
}

.details-information input {
  width: 50%;
}

.product-form-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-product-variant {
  min-width: 430px;
  padding: 10px 0;
  height: 500px;
  overflow-y: auto;
  margin-left: 20px;
}

.form-variant-wrapper .group {
  display: flex;
  flex-direction: column;
}

.variant-wrapper {
  padding: 10px;
  border: 1px solid rgb(196, 195, 195);
  border-radius: 4px;
}

.form-details-product-box {
  padding: 10px;
  border: 1px solid rgb(207, 206, 206);
  border-radius: 8px;
}

.form-product-variant .details-box-two {
  margin: 0 5px;
}

.form-product-variant .details-box-two .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 48%;
}

.form-product-update {
  width: 350px;
}

.form-product-variant .details-box-two .form-group input {
  box-shadow: 0 0 0 0.07mm;
  background-color: #fff;
  border-radius: 3px;
  padding: 0 10px;
  height: 45px;
}

.description-update {
  display: flex;
  flex-direction: column;
}

.products-description-update {
  border: 1px solid rgb(207, 206, 206);
  height: 150px;
  padding: 10px;
  outline: none;
  border-radius: 8px;
}

.form-content .form-group-details {
  flex-direction: row;
}

.form-content .form-group-details figure {
  margin-top: 5px;
  vertical-align: bottom;
}

.btn-pages,
.buttons-pagination {
  background-color: #fff;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 4px;
  color: #0d6efd;
  border: 1px solid #0d6efd;
}

.btn-pages:hover,
.buttons-pagination:hover {
  background-color: #0d6efd;
  color: #fff;
}

.buttons-pagination-active {
  background-color: #0d6efd;
  color: #fff;
}
