.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
.form-login{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}


.btn-login{
    width: 160px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-left: 80px;
    margin-top: 40px;
    background-color: #23a2f6;
    color: white;
    font-weight: bold;
}
.btn-login:hover{
  width: 160px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-left: 80px;
  margin-top: 40px;
  background-color: #124061;
  color: white;
  font-weight: bold;
  border: 2px solid #23a2f6;
}
.khoang{
    margin: 10px;
}
.input-data{
    outline: none;
    padding: 10px;
    display: block;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 16px;
    background-color: rgb(255, 255, 255);
   border: none ;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
    height: 50px;
    letter-spacing: 2.0;
    border-radius: 3px;

}


.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}
.setnoti{
 border-radius: 5px;
 margin: 15px 0px 15px 0px;
 padding: 6px;
 color: #eaf0fb;
}
