.dashboard-container {
  display: flex;
  flex-direction: row;
  background-color: #eee;
}
.dashboard-body {
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #eee;
}
