.chartBoard {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.chart-top-title {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}

.chart-top-seller,
.chart-bottom-seller {
    border: 1px solid #eee;
    padding: 10px 20px;
    border-radius: 8px;
    width: 100%;
}
