@font-face {
  font-family: "poppins-light"; /*font-weight: 400*/
  src: url("../../assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "poppins-medium"; /*font-weight: 500*/
  src: url("../../assets/fonts/Poppins-Medium.ttf");
}

:root {
  --font-light: "poppins-light";
  --font-medium: "poppins-medium";
}
